<ion-view view-title="Chats">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in userMessages" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
      <img ng-src="img/{{chat.pic}}.gif">
        <p>{{chat.text}}</p>

      </ion-item>
    </ion-list>


  </ion-content>

  <div class="compose">
    <button ng-click="sendMsg()">Send</button>
    <input type="text" ng-model="msgBody" />
    <label class="pull-right">Whatcha Say?</label>
  </div>


</ion-view>
