<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Canvas Tab -->
  <ion-tab title="Chat Canavs" icon-off="ion-chatbubble" icon-on="ion-chatbubble" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

   <!-- Chat Tab -->
  <ion-tab title="Chat Bubble" icon-off="ion-chatbubbles" icon-on="ion-chatbubbles" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
 
  

  <!-- Users Tab -->
  <ion-tab title="TicTacToe" icon-off="ion-ios-grid-view" icon-on="ion-ios-grid-view" href="#/tab/tic">
    <ion-nav-view name="tab-tic"></ion-nav-view>
  </ion-tab>




</ion-tabs>
